.mainApp {
  background: #4299d7;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginError {
  margin-bottom: 20px;
}

.contentWrapper {
  width: 100%;
}